<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.data>
    <DbProviderFactories>
      <add name="FormsConn" invariant="System.Data.OleDb"
        description="OleDb provider for MS Access"
        type="MySql.Data.MySqlClient.MySqlClientFactory,
                MySql.Data,Version=6.0.3.0,
                Culture=neutral,PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <add key="defaultConnection" value="FormsConn"/>
  </appSettings>
  <connectionStrings>
    <add name="FormsConn" connectionString ="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\\..\\..\\CD.DB\\CDDB.accdb"/>
  </connectionStrings>
</configuration>
